@import url('https://googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home-content h3 {
  color: brown;
  text-align: center;
  color: white;
}

/* .home-content {
  position: absolute;
  top: 300px;
  left: 30px;
  font-weight: 700;
  z-index: 10;
} */
section {
  display: flex;
  height: 100vh;
  align-items: center;
}
html,
body {
  font-family: 'Poppins', sans-serif;
  color: #111;
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2em;
  font-weight: 700;
  z-index: 10;
}

.navigation {
  display: none;
}

.home-image {
  position: relative;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  height: 100%;
}
